

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body{
  width: 100%;
  height: 100vh;
  background-color: #ff676d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  background-color: #fff;
  width: 400px;
  height: 250px;
  border-radius: 7px;
  padding: 20px;
  transition: .1s;
}

.header h1{
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 5px;
}

.header p{
  font-size: 16px;
  margin-bottom: 10px;
}

input, button{
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 5px;
}

/*button{
  border: none;
  background-color: #1d68d8;
}
button:hover {
  border: none;
  background-color: #ff676d;
  transform: scale(1.1);
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}*/

.generate-btn {
    font-size: 15px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.generate-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.generate-btn:active {
    color: #000
}

.generate-btn:active:after {
    background: transparent;
}

.generate-btn:hover:before {
    opacity: 1;
}

.generate-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.about-btn{
  
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

input{
  border: 1px solid #8b8a8a;
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 15px;
}

.qr-code{
  padding: 25px 0;
  border: 1px solid #ccc;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.container.active{
  height: 490px;
}

.container.active .qr-code{
  opacity: 1;
  pointer-events: auto;
}